/* MovieDetail.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.custom-bg {
  color: white;
  padding: 20px;
  /* min-height: 100vh; */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  margin-top: 56px;
}

.custom-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  opacity: .7;
  z-index: 1;
  pointer-events: none;
}

.movie-detail-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.movie-header {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
}

.movie-poster {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 40px;
}

.movie-title .movie-title-header {
  font-size: 2.2rem;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.movie-title .movie-title-header:hover {
  text-decoration: underline;
}

.movie-title .movie-title-header .tag.release_date {
  opacity: .8;
  font-weight: 400;
}

.movie-title .facts span:not(:last-child)::after {
  content: " • ";
  margin: 0 8px;
  color: #ccc;
}

.movie-title .movie-actions {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.movie-title .movie-actions .movie-actions__item {
  width: 50px;
  height: 50px;
  background-color: #032541;
  color: #ffffff;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;
}

.header-info {
  width: 100%;
}

.header-info .h3-overview {
  font-weight: 600;
  font-size: 1.3em;

  margin-top: 10px;
  margin-bottom: 10px;
}

.header-info .overview p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #ffffff;
}

.header-info .tagline {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: .7;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #1a1a1a;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #444;
  border-top: 5px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}