.column-wrapper {
  display: flex;
  align-items: flex-start;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.column-wrapper,
.content-wrapper {
  max-width: 1400px;
  width: 100%;
  padding: 30px 40px;
}

.content-wrapper .content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.filter_panel {
  min-width: 260px;
  width: 260px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.filter_panel .name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 14px 16px;
}

.apply-btn {
  width: 100%;
  background-color: lightblue;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  height: 44px;
}

.apply-btn p,
.apply-btn a {
  display: inline-flex;
  align-items: center;
}

.apply-btn p {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.apply-btn a {
  color: #fff;
  font-size: 1.2em;
  line-height: 1;
  font-weight: 600;
  width: 100%;
  height: 100%;
  text-decoration: none;
  justify-content: center;
}

.white-column {
  padding-left: 30px;
  background: 0 0;
  background-color: #fff;
  width: calc(100vw - 80px - 268px);
  max-width: calc(1400px - 80px - 268px);
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding-right: 30px;
}