.container-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.icon-dropdown {
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 15px;
}

.btn-signup {
    background: linear-gradient(to right, rgb(30, 213, 169), rgb(1, 180, 228));
    color: white;
}